<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
    <link rel="stylesheet" href="/css/todos.css" />
  </head>
  <body class="parent-container">
    <div class="container">
      <h2>Signup</h2>

      <form method="POST" action="/">
        <% if (error) { %>
        <p style="color: red"><%= error %></p>
        <% } %>

        <input name="username" placeholder="username" />
        <input name="password" type="password" placeholder="password" />
        <button type="submit">Signup</button>

        <p>Already have an account? <a href="/login">Login here</a></p>
      </form>
    </div>
  </body>
</html>
