<!DOCTYPE html>
<html>
<head>
  <title>Todo App Test</title>
</head>
<body>
  <h2>Todo App Setup Works!</h2>
  <form action="#" method="POST">
    <input type="text" placeholder="Test input" />
    <button type="submit">Submit</button>
  </form>
</body>
</html>
