<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
    <link rel="stylesheet" href="/todos.css" />
  </head>
  <body class="parent-container">
    <div class="container">
    <h2>Signup</h2>

    <form method="POST" action="/signup">
      <input name="username" placeholder="username" />
      <input name="password" type="password" placeholder="password" />
      <button type="submit">Signup</button>
    </form>
    </div>
  </body>
</html>
